{% extends 'base.html' %} 

{% block title %} Karim's BookStoRe - Books {% endblock%} 


{% block content %}

<div class="container">
<h3 class = "text-center text-5xl">Welcome to Karim's Online BookStoRe</h3>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style="height:max ;">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.scholastic.com/content/corp-home/home/_jcr_content/root/compoundheader/image.coreimg.png/1660249954787/aug2022-bts-books-img.png" >
    </div>
  </div>
</div>
<hr>
<br>
<br>
<div class="container">
  <div class="row">
    {% for book in book_list %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.price }} BYN</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
          <a href="/book/{{book.id}}" class="btn btn-primary">View the Book</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  






<!-- 

<div class="grid grid-cols-4 gap-4 mt-10">
  {% for book in book_list %}
  <a href='/book/{{book.id}}' class="justify-self-center text-center my-4" target="_blank">
    <div class="flex justify-center">
      <img src="{{book.image.url}}" width="200" />
    </div>
    <p class="text-lg text-gray-700">{{ book.title }}</p>
  </a>
  {% endfor %}
</div>
</div>
</div>
{% endblock %} -->