{% extends 'base.html' %}

{% block title %}
  Karim's BookStoRe - {{book.title}}
{% endblock  %}


{% block nav_title %}
{{Books.title}}
{% endblock %}


{% block content %}
<div class="container">
  <div class="">
    <div class="">
      <div class="row">
        <img src="{{Books.cover_img}}" width="200" />
        <div >
            <h5 class="text-3xl">Title</h5>
            <p class="text-gray-600 mt-5">{{Books.title}}</p>
          </div>
      </div>
      <div class="flex justify-between">
        <h5 class="text-3xl">Summary of the book</h5>
        <p class="text-gray-600 mt-5">{{Books.summary}}</p>

        <div class="mt-10">
          <h5 class="text-3xl">Pages</h5>
          <p class="text-gray-600 mt-5">Total {{Books.pagecount}} pages</p>
        </div>

        <div class="mt-10">
          <h5 class="text-3xl">Author</h5>
          <div class="text-gray-600 mt-5"> {% for author in authors %}
            <a href={% url 'author.books' author %}> {{author.name}} </a>
          {% endfor %}
        </div>

        <!-- <div class="mt-10">
            <p class="text-3xl">Category</p>
            {% for category in categorys %}
            <p class="text-gray-600 mt-5"> {{category.name}</p>
            {% endfor %}
          </div> -->

        <div class="mt-10">
          <h5 class="text-3xl">Price</h5>
          <p class="text-gray-600 mt-4">{{Books.price}} BYN </p>
        </div>

        <div class="mt-10">
            {% if user.is_authenticated %}
          <form method = "POST" action = "{% url 'book.review' Books.id %}">
            {% csrf_token %}
            <textarea class="form-control" placeholder="Type in your review about the book" name="review" rows="4"></textarea>
            <button type="submit" class="float-right border rounded p-2 bg-gray-800 text-white" > Submit a review </button>
          </form>
          {% else %}
          <p>
            <a class="text-blue-600" href="{% url 'login' %}?next={{request.path}}">Login</a> to write review
          </p>
          {% endif %}
        </div>
        <div class="mt-20">
          {% for review in reviews %}
          <div class="my-6">
            <div class="flex justify-between">
                <div class="flex justify-between">
                    <p class="text-gray-400">{{review.user}}</p>
                    <p class="text-gray-400">{{review.created_at}}</p>
                  </div>
              <p class="text-gray-400">{{review.reviewsofthebook}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}